*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(204, 241, 190);
    margin: 0 0px;
    overflow: hidden;
    
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    height: 13.8vh;
    background-color: antiquewhite;
  
}
li{
    display: inline;
    padding: 0px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}
.navbar_list{
 color: rgb(137, 137, 211);
 padding: 5px;
 transition: 0.3s;
 border-radius: 20px;
 
}
.navbar_list:hover{
    background-color:rgb(137, 137, 211);
    color: white;
  
    transition: 0.3s;
  
}
.name{
    font-size:40px;
    font-weight: 1200;
    position: relative;
    top: 10px;
    left: -100px;
    color:rgb(174, 248, 105);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.nav_items{
    list-style-type: none; 
    position: relative;
    top: 20px;
    left: 120px;
    
}
.navbar_list{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.home{
    margin:50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    gap: 150px;
   
}
.info{
    width: 50%;
    position: relative;
    top: 100px;
    
  
   
}
.hi{
    font-size: 40px;
    color  :rgb(0, 238, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.second_line{
    color: rgb(145, 109, 32);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.last_line{
    overflow:hidden;
    font-size:40px;
    color :rgb(5, 102, 29);
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    
    animation: 
    typing 5s steps(48) forwards infinite ;
    width: 0px;
   
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.link{
    padding : 3px;
    border-radius: 20px;
    background-color: rgb(87, 83, 83);
    
}
.link:hover{
    background-color:rgb(161, 152, 152); 
    transition: 0.3s;
}
.image{
    width: 50%;
    position: relative;
    bottom: 20px;
    border-radius: 5px;

}
.prof{
    width :350px;
    height :420px;
    border-radius: 10%;
}
.My_Skills{
    width : 100%;
    height :100vh;
    background-color:palevioletred;
}
.heading{
    text-align: center;
    font-size :30px;
    font-family: 'Poppins', sans-serif;
    padding:30px;
    

}
.cer1
{
    color: black;
    text-decoration: none;
}
.flex{
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.img1{
    height: 350px;
    width: 350px;
    border-radius: 20px;
}
.html{
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.projects{
    width : 100%;
    height :100vh;
    background-color:rgb(205, 129, 255);
}
.Certificate
{
    width : 100%;
    height :100vh;
    background-color:rgb(255, 192, 84); 
}
.compiler
{
    width : 100%;
    height :100vh;
    background-color:rgb(207, 255, 84);
}